.card_singleItem {
  padding: 10px 20px;
  text-align: center;
  animation: item-appearing 0.4s linear;
  &_img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 0 0 50px black;
    transition: 0.2s all;
    &:hover {
      box-shadow: 0 0 100px white;
    }
  }
  &_name {
    font-size: 20px;
    margin-top: 10px;
  }
}

@keyframes item-appearing {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
