.infoCocktail {
  min-height: 100vh;
  color: white;
  background-color: #2e2e39;
  &_header {
    background-color: #686a77;
    text-align: center;
    font-size: 40px;
    font-family: "Lobster", "Ubuntu", sans-serif;
    padding: 50px;
  }
  &_headerSection {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
  }
  &_goBackBtn {
    display: inline-block;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    color: white;
    transition: 0.15s all;
    &:hover {
      color: rgba(255, 255, 255, 0.623);
    }
  }
  &_showFavouriteOverlay {
    display: inline-block;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    color: white;
    transition: 0.15s all;
    &:hover {
      color: rgba(255, 255, 255, 0.623);
    }
  }
  &_main {
    display: flex;
    animation: item-appearing 0.4s linear;
    margin: 75px 300px;
  }
  &_img {
    width: 500px;
    height: 500px;
    border-radius: 30px;
    cursor: auto;
  }
  &_receipt {
    margin: 0 50px;
  }
  &_title {
    margin-bottom: 10px;
  }
  &_info {
    margin-bottom: 20px;
    font-size: 18px;
  }
  &_instruction {
    font-size: 18px;
  }
  &_addToFavourite {
    color: white;
    margin-top: 10px;
    font-size: 30px;
    padding: 5px 10px;
    background-color: #444444;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.15s all;
    &:hover {
      color: rgba(255, 255, 255, 0.623);
      background-color: #747474;
      border-color: rgba(255, 255, 255, 0.623);
    }
  }
}

@keyframes item-appearing {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
